from tkinter import *
import random
from PIL import ImageTk, Image

def create_window():
    window = Toplevel(root)
    window.resizable(0, 0)
    window.protocol("WM_DELETE_WINDOW", create_window)
    img = PhotoImage(file='C:/Users/henry/Downloads/MEDUSA-logo.gif')
    root.tk.call('wm', 'iconphoto', window, img)
    canvas2 = Canvas(window, width=300, height=50)
    canvas2.pack()
    infected = Label(window, text="Infected")
    infected.pack()
    close_button = Button(window, text="close", padx=40, pady=10, bg="black", fg="white", command=close_window)
    close_button.pack()
    infected.configure(font=("Courier", 30, "bold"))
    x_coordinate5 = round(random.uniform(0, 800))
    y_coordinate5 = round(random.uniform(0, 800))
    window.geometry("{}x{}+{}+{}".format(230, 200, x_coordinate5, y_coordinate5))

    window = Toplevel(root)
    window.resizable(0, 0)
    window.protocol("WM_DELETE_WINDOW", create_window)
    img = PhotoImage(file='C:/Users/henry/Downloads/MEDUSA-logo.gif')
    root.tk.call('wm', 'iconphoto', window, img)
    canvas2 = Canvas(window, width=300, height=50)
    canvas2.pack()
    infected = Label(window, text="Infected")
    infected.pack()
    close_button = Button(window, text="close", padx=40, pady=10, bg="black", fg="white", command=close_window)
    close_button.pack()
    infected.configure(font=("Courier", 30, "bold"))
    x_coordinate4 = round(random.uniform(0, 800))
    y_coordinate4 = round(random.uniform(0, 800))
    window.geometry("{}x{}+{}+{}".format(230, 200, x_coordinate4, y_coordinate4))


def look_window():
    create_window()

def close_window():
    create_window()


root = Tk()
root.resizable(0, 0)
img = PhotoImage(file='C:/Users/henry/Downloads/MEDUSA-logo.gif')
root.tk.call('wm', 'iconphoto', root._w, img)
my_img = ImageTk.PhotoImage(Image.open('C:/Users/henry/Downloads/MedusaLogo2.gif'))
my_label = Label(image=my_img, width=220, height=120)
my_label.pack(pady=20)
root.title("Medusa.exe")
look_button = Button(root, text="Start", padx=40, pady=10, bg="black", fg="white", command=look_window)
look_button.pack()
look_button.configure(font=("Courier", 10, "bold"))
canvas = Canvas(root, width=300, height=50)
canvas.pack()
x_coordinate = round(random.uniform(0, 800))
y_coordinate = round(random.uniform(0, 800))

root.protocol("WM_DELETE_WINDOW", create_window)
root.resizable(0, 0)
root.tk.call('wm', 'iconphoto', root._w, img)
root.mainloop()
